.Album {
    margin: 30px auto;
    width: 450px;
    max-width: 90%;
}

.Album a {
    color: #3a3a3a;
}

.Card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
}

.CardMedia {
    height: 150px;
    width: 150px;
    background-color: #cccccc;
}

.CardMedia:nth-of-type(3),
.CardMedia:nth-of-type(4) {
    border-left: solid white 0.1px;
}

.Content {
    grid-column: 1 / 4;
}

.Content p {
    margin-top: 50px;
}

.Breadcrumbs {
    width: 250px;
    margin: 30px auto 0 auto;
}

.Breadcrumbs a {
    color: #3f51b5;
}

@media (max-width: 600px) {
    .Album {
        width: 300px;
    }
    .Card {
        grid-template-columns: repeat(2, 1fr);
    }
    .Content {
        grid-column: 1 / 3;
    }
    .Content p {
        margin-top: 30px;
    }
    .CardMedia:last-of-type {
        display: none;
    }
}