.Photos {
    margin: 30px auto;
    width: 692px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.Photo {
    width: 158px;
    height: 158px;
    position: relative;
}

.Photo img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
}

.Title {
    width: 150px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 4px;
}

.Title p {
    color: white;
    font-size: 88%;
    margin: 0;
    padding: 0 4px;
}

.Spinner {
    grid-column: 1 / 5;
}

@media (max-width: 768px) {
    .Photos {
        width: 514px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .Photos {
        width: 336px;
        grid-template-columns: repeat(2, 1fr);
    }
}