.Card {
    margin: 30px auto;
    height: 150px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.CardMedia {
    width: 150px;
    height: 150px;
    grid-column: 3 / 4;
}

.Content {
    grid-column: 1 / 3;
}

.Link {
    text-decoration: none;
    color: white;
}