.User {
    margin: 30px auto;
    width: 450px;
    max-width: 90%;
}

.User a {
    color: #3a3a3a;
}

.Card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.CardMedia {
    width: 150px;
    height: 150px;
    grid-column: 3 / 4;
}

.Content {
    grid-column: 1 / 3;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .Content {
        text-align: left;
        margin-top: 0;
    }
    .Content p {
        margin: 10px 0;
    }
}