.Photo {
    width: 500px;
    height: auto;
    max-width: 90%;
    margin: 30px auto 0 auto;
    cursor: pointer;
    position: relative;
}

.Photo img {
    width: 98%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.Overlay {
    width: 98%;
    height: 100px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    margin-bottom: 9px;
}