.Photo {
    width: 612px;
    height: auto;
    max-width: 90%;
    margin: 20px auto 0 auto;
    cursor: pointer;
    position: relative;
}

.Photo img {
    width: 98%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.Overlay {
    width: 98%;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    margin-left: 6px;
    margin-bottom: 10px;
    text-align: left;
}

.Overlay p {
    color: #fff;
    margin: 12px;
}

.Overlay button {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 12px;
    width: 100px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.Overlay button:hover {
    background-color: #fff;
    color: black;
}

@media (max-width: 600px) {
    .Overlay p {
        margin: 9px;
    }
    .Overlay button {
        margin-left: 9px;
    }
}
